<div class="animated fadeIn">
  <b-row>
    <b-col sm="12" md="12">
      <transition name="fade">
        <b-card class="card-accent-success" v-if="show">
          <div slot="header">
            Danh sách cài đặt
            <div class="card-header-actions">
              <b-link class="card-header-action btn-minimize" v-b-toggle.collapse1>
                <i class="icon-arrow-up"></i>
              </b-link>
              <b-link href="#" class="card-header-action btn-close" v-on:click="show = !show">
                <i class="icon-close"></i>
              </b-link>
            </div>
          </div>
          <b-collapse id="collapse1" visible>
            <b-card-body>
              <b-row>
                <b-col md="4" v-for="item in sensors" :key="item.values">
                  <SettingSensor :idSensor="item.value" :name="item.text"/>
                </b-col>
              </b-row>
            </b-card-body>
          </b-collapse>
        </b-card>
      </transition>
    </b-col>
  </b-row>
</div>
