<div class="animated fadeIn">
  <b-row>
    <b-col sm="6" md="4">
      <b-card class="card-accent-primary">
        <div slot="header">
          Tạo cài đặt
        </div>
        <b-form @submit="onCreate">
          <b-alert class="text-center" :show="showAlert" :variant="colorAlert">{{msg}}</b-alert>
          <b-form-group label="Sensor" label-for="sensor" :label-cols="4" :horizontal="true">
            <b-form-select @change.native="change" id="sensor" v-model="setting.sensor" :options="sensors">
            </b-form-select>
          </b-form-group>
          <b-form-group label="GTNN" label-for="min" :label-cols="4" :horizontal="true">
            <b-form-input v-model="setting.min" type="text" placeholder="Giá trị nhỏ nhất" :state="setting.min.length?'success':'warning'" required></b-form-input>
          </b-form-group>
          <b-form-group label="GTLN" label-for="max" :label-cols="4" :horizontal="true">
            <b-form-input v-model="setting.max" type="text" placeholder="Giá trị lớn nhất" :state="setting.max.length?'success':'warning'" required></b-form-input>
          </b-form-group>
          <div slot="footer" class="float-right">
            <b-button type="submit" size="sm" variant="primary"><i class="cui-cog"></i> Lưu</b-button>
          </div>
        </b-form>
      </b-card>
    </b-col>
    <b-col sm="6" md="8">
      <transition name="fade">
        <b-card class="card-accent-success" v-if="show">
          <div slot="header">
            Danh sách cài đặt
            <div class="card-header-actions">
              <b-link class="card-header-action btn-minimize" v-b-toggle.collapse1>
                <i class="icon-arrow-up"></i>
              </b-link>
              <b-link href="#" class="card-header-action btn-close" v-on:click="show = !show">
                <i class="icon-close"></i>
              </b-link>
            </div>
          </div>
          <b-collapse id="collapse1" visible>
            <b-card-body>
              <b-row>
                <b-col md="6" v-for="item in sensors" :key="item.values">
                  <SettingSensor :idSensor="item.value"/>
                </b-col>
              </b-row>
            </b-card-body>
          </b-collapse>
        </b-card>
      </transition>
    </b-col>
  </b-row>
</div>
